# **Copyright and Author Information**

Copyright © [2024] Docketrun Tech Private Limited. All rights reserved.

This notebook is open-sourced and available under the [MIT License](https://opensource.org/licenses/MIT).

Author: Krishna Katigar

This Colab notebook is provided for educational and informational purposes only. You are free to use, modify, and distribute it, provided that proper attribution is given.

**Disclaimer:** The information in this notebook is provided "as is," without warranty of any kind. The authors or the company do not accept any responsibility for errors or omissions in the content.

##Dictionary

**Python Dictionary** is like a map that is used to store data in the form of a key: value pair. Python provides various built-in functions to deal with dictionaries. In this article, we will see a list of all the functions provided by Python to work with dictionaries.

In [ ]:
my_dict = {'1': 'Docket', '2': 'Run', '3': 'Tech','4':'Pvt','5':'Ltd'}
print(my_dict)

Dictionary Buil in Methods

**Dictionary get() Method**

In Python, the get() method is a pre-built dictionary function that enables you to obtain the value linked to a particular key in a dictionary. It is a secure method to access dictionary values without causing a KeyError if the key isn’t present.

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(d.get('Name'))
print(d.get('Gender'))

**Dictionary keys() Method**
The keys() method in Python returns a view object with dictionary keys, allowing efficient access and iteration.

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.keys()))

**Dictionary values() Method**
The values() method in Python returns a view object containing all dictionary values, which can be accessed and iterated through efficiently.

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.values()))

**Dictionary update() Method**
Python’s update() method is a built-in dictionary function that updates the key-value pairs of a dictionary using elements from another dictionary or an iterable of key-value pairs. With this method, you can include new data or merge it with existing dictionary entries.

In [ ]:
d1 = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d2 = {'Name': 'Neha', 'Age': '22'}

d1.update(d2)
print(d1)

**Dictionary pop() Method**
In Python, the pop() method is a pre-existing dictionary method that removes and retrieves the value linked with a given key from a dictionary. If the key is not present in the dictionary, you can set an optional default value to be returned.

In [ ]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d.pop('Age')
print(d)

##Set

A Set in Python is a collection of unique elements which are unordered and mutable.

In [ ]:
s = {'g', 'e', 'k', 's'}
print(s)

**Set Methods**

**union(other_set)**: Returns a set with elements from both sets.

**intersection(other_set)**: Returns a set with common elements.

**difference(other_set):** Returns a set with elements in the current set but not in the other.

**difference_update(other_set):** Updates the set to remove elements found in the other set.

**symmetric_difference(other_set):** Returns elements in either set but not both.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Adding
my_set.add(6)
print("After Adding",my_set)

# Removing
my_set.remove(2)
print("After Removing",my_set)
 # Raises KeyError if 2 is not present

my_set.discard(3)
# Does not raise an error if 3 is not present

# Membership
print(4 in my_set)  # Output: True

set1 = {1, 2, 3}
set2 = {3, 4, 5}
# Union
print(set1.union(set2)) # Output: {1, 2, 3, 4, 5}
# Intersection
print(set1.intersection(set2)) # Output: {3}

# Difference
print(set1.difference(set2)) # Output: {1, 2}
# Symmetric Difference
print(set1.symmetric_difference(set2)) # Output: {1, 2, 4, 5}

## List

Lists are used to store multiple items in a single variable.
Lists are mutable sequences that can hold multiple items.

**append()**	Used for adding elements to the end of the List.

In [ ]:
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
print(List)

**index()**	Returns the lowest index where the element appears.

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

Python list **remove()** method removes a given element from the list.

In [ ]:
lis = ['a', 'b', 'c']
lis.remove("b")
print(lis)

Python List **reverse()** is an inbuilt method in the Python programming language that reverses objects of the List in place i.e. it doesn’t use any extra space but it just modifies the original list.

In [ ]:
# Python3 program to demonstrate the
# use of reverse method

# a list of numbers
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()
print(list1)

# a list of characters
list2 = ['a', 'b', 'c', 'd', 'a', 'a']
list2.reverse()
print(list2)


Python **list sort()** method sorts the elements of a list. It sorts in ascending order by default but can also sort values in descending order or in a custom manner using its parameters.

In [ ]:
alphabets = ['a','e','d','c','b']
alphabets.sort()
print(alphabets)

random_numbers = [2,5,6,1,8,3]
random_numbers.sort()
print(random_numbers)

## tuple

Python Tuples is an immutable collection of that are more like lists. Python Provides a couple of methods to work with tuples.

Tuples are used to store multiple items in a single variable.
Unlike lists, tuples cannot be modified after their creation.

In [ ]:
# Creating tuples
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
Tuple2 = ('python', 'geek', 'python',
          'for', 'java', 'python')

**Methods**

**Accessing Elements:** Use indexing, similar to lists.

**Slicing:** Extract a portion of the tuple.

**Concatenation**: Combine tuples with +.

**Repetition**: Repeat tuple elements with *

**Common Tuple Methods**

**count(value):** Returns the number of occurrences of a value.

**Index(value)**: Returns the index of the first occurrence of a value

**Tuple Unpacking**

Tuple unpacking allows you to assign elements of a tuple to multiple

In [ ]:
my_tuple = (1, 2, 3, "hello")
# Accessing
print("Accesing of tuple",my_tuple[1])

# Slicing
print("Sliciing Of tuple",my_tuple[1:3])

# Concatenation
new_tuple = my_tuple + (4, 5)
print("Concantenation of",new_tuple)

# Repetition
repeated_tuple = my_tuple * 2
print("Repetation of tuple",repeated_tuple)

# Example Methods
example_tuple = (1, 2, 3, 1, 2, 1)

# Count occurrences
print("Count of occureence in tuple",example_tuple.count(1))

# Find index
print(" Index Value of seletcted tuple",example_tuple.index(2))

# Tuple Unpacking
coordinates = (4, 5)
x, y = coordinates
print("After Unpacking",x)  # Output: 4
print("After Unpacking",y)  # Output: 5

## String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

**String Methods**

In [ ]:
# Python3 program to show the
# working of upper() function
text = 'Docketrun  tech pvt Ltd'

# upper() function to convert
# string to upper case
print("\nConverted String:")
print(text.upper())

# lower() function to convert
# string to lower case
print("\nConverted String:")
print(text.lower())

# converts the first character to
# upper case and rest to lower case
print("\nConverted String:")
print(text.title())

# swaps the case of all characters in the string
# upper case character to lowercase and viceversa
print("\nConverted String:")
print(text.swapcase())

# convert the first character of a string to uppercase
print("\nConverted String:")
print(text.capitalize())

# original string never changes
print("\nOriginal String")
print(text)

## Conditional Statements

Conditional statements allow the program to make decisions based on conditions.
They control the flow of execution.

In [ ]:
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("i'm in if Block")
else:
    print("i is greater than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

In [ ]:
i = 25
if (i == 10):
    print("i is 10")
elif (i == 15):
    print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

## Loops

Loops are an essential construct in all programming languages. In a loop structure, the program first checks for a condition. If this condition is true, some piece of code is run. This code will keep on running unless the condition becomes invalid.
Types of Loops:
For Loop:Iterate a predefined number of times. and Iterates over a sequence (like a list or a range).
While Loop: Continues to execute as long as a specified condition is True.

**For Loop**

In [ ]:
for i in range(10):  # collection of numbers from 0 to 9
    print(i)

In [ ]:
for i in range(10):  # numbers from 0-9
    if i % 2 == 0:  # is divsible by 2? (even number)
        print(i) # then print.

**While Loop**

In [ ]:
n = 0
while n < 10: # while n is less than 10,
    print(n) # print out the value of n
    n += 1 #

In [ ]:
numbers = [0, 5, 10, 6, 3]
length = len(numbers) # get length of array.
n = 0
while n < length: # loop condition
    print(numbers[n])
    n += 1

**Loop Controls**

In [ ]:
# Break
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Hussain"]
for name in names:
    if name == "Mark Zuckerberg":
        print("loop exit here.")
        break  # end this loop if condition is true.
    print(name)
print("Out of the loop")

In [ ]:
# Contine
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Hussain"]
for name in names:
    if name == "Mark Zuckerberg":
        print("Skipping this iteration.")
        continue  # Skip iteration if true.
    print(name)
print("Out of the loop")

## Funtions

Python Functions is a block of statements that return the specific task. The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again.

Some Benefits of Using Functions

Increase Code Readability

Increase Code Reusability

![image.png]()

In [ ]:
# A simple Python function
def fun():
    print("Welcome to DocketRun")
fun()

**Parametrized Function**

In [ ]:
def add(num1: int, num2: int) -> int:
    """Add two numbers"""
    num3 = num1 + num2

    return num3

# Driver code
num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

In [ ]:
# Python Function Arguments
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")


# Driver code to call the function
evenOdd(2)
evenOdd(3)

In [ ]:
# Default Arguments
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)


# Driver code (We call myFun() with only
# argument)
myFun(10)

# NumPy

NumPy is a popular library for storing arrays of numbers and performing computations on them. Not only this enables to write often more succint code, this also makes the code faster, since most NumPy routines are implemented in C for speed.

To use NumPy in your program, you need to import it as follows

In [ ]:
import numpy as np

## Array creation

NumPy arrays can be created from Python lists

In [ ]:
my_array = np.array([1, 2, 3])
my_array

NumPy supports array of arbitrary dimension. For example, we can create two-dimensional arrays (e.g. to store a matrix) as follows

In [ ]:
my_2d_array = np.array([[1, 2, 3], [4, 5, 6]])
my_2d_array

We can access individual elements of a 2d-array using two indices

In [ ]:
my_2d_array[0, 2]

We can also access rows

In [ ]:
my_2d_array[1]

Arrays have a `shape` attribute

In [ ]:
print(my_array.shape)
print(my_2d_array.shape)

Contrary to Python lists, NumPy arrays must have a type and all elements of the array must have the same type.

In [ ]:
my_array.dtype

The main types are `int32` (32-bit integers), `int64` (64-bit integers), `float32` (32-bit real values) and `float64` (64-bit real values).

The `dtype` can be specified when creating the array

In [ ]:
my_array = np.array([1, 2, 3], dtype=np.float64)
my_array.dtype

We can create arrays of all zeros using

In [ ]:
zero_array = np.zeros((2, 3))
zero_array

and similarly for all ones using `ones` instead of `zeros`.

We can create a range of values using

In [ ]:
np.arange(5)

or specifying the starting point

In [ ]:
np.arange(3, 5)

Another useful routine is `linspace` for creating linearly spaced values in an interval. For instance, to create 10 values in `[0, 1]`, we can use

In [ ]:
np.linspace(0, 1, 10)

Another important operation is `reshape`, for changing the shape of an array

In [ ]:
my_array = np.array([1, 2, 3, 4, 5, 6])
my_array.reshape(3, 2)

Play with these operations and make sure you understand them well.

## Basic operations

In NumPy, we express computations directly over arrays. This makes the code much more succint.

Arithmetic operations can be performed directly over arrays. For instance, assuming two arrays have a compatible shape, we can add them as follows

In [ ]:
array_a = np.array([1, 2, 3])
array_b = np.array([4, 5, 6])
array_a + array_b

Compare this with the equivalent computation using a for loop

In [ ]:
array_out = np.zeros_like(array_a)
print(array_out)
for i in range(len(array_a)):
  array_out[i] = array_a[i] + array_b[i]
array_out

# Matplotlib

**Matplotlib** is a low level graph plotting library in python that serves as a visualization utility.

Matplotlib is a plotting library for Python.
It provides a MATLAB-like interface for creating static, animated, and interactive visualizations.

**Key Features:**
High-quality plots and visualizations
Support for various types of charts

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

xpoints = np.array([0, 6])
ypoints = np.array([0, 250])

plt.plot(xpoints, ypoints)
plt.show()

**Plotting x and y points**
The plot() function is used to draw points (markers) in a diagram.

By default, the plot() function draws a line from point to point.

The function takes parameters for specifying points in the diagram.

Parameter 1 is an array containing the points on the x-axis.

Parameter 2 is an array containing the points on the y-axis.

**Markers**
You can use the keyword argument marker to emphasize each point with a specified marker:

'o'	Circle
'*'	Star
'.'	Point
','	Pixel
'x'	X

More...

In [ ]:
import matplotlib.pyplot as plt

xpoints=([1,2,3,4])
ypoints = ([3, 8, 1, 10])

plt.plot(xpoints,ypoints, marker = '')
plt.show()

**Linestyle**
You can use the keyword argument linestyle, or shorter ls, to change the style of the plotted line:

'solid' (default)	'-'
'dotted'	':'
'dashed'	'--'
'dashdot'	'-.'
'None'	'' or ' '

**Create Labels for a Plot**
With Pyplot, you can use the xlabel() and ylabel() functions to set a label for the x- and y-axis.

**Line Width**
You can use the keyword argument linewidth or the shorter lw to change the width of the line.

The value is a floating number, in points:

In [ ]:
import matplotlib.pyplot as plt
x = np.array([80, 85, 90, 95, 100, 105, 110, 115, 120, 125])
y = np.array([240, 250, 260, 270, 280, 290, 300, 310, 320, 330])

plt.plot(x, y, linestyle='dotted', linewidth=2.5)

plt.xlabel("Average Pulse")
plt.ylabel("Calorie Burnage")
plt.show()

**Bar chart**

Creating Bars
With Pyplot, you can use the bar() function to draw bar graphs:

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.bar(x,y, width=0.1, color="blue")
plt.show()